
/*
 * =========================================================
 * ADMIN CSS
 * ---------------------------------------------------------
 * These are the CSS elements that are common to all admin
 * pages.
 * =========================================================
 */

.dialog {
	display:none;
}

html, body {
	margin:0px;
}

.admin-logo {
	background:#60221B;
	color:white;
	padding:10px 10px 10px 10px;
}

.admin-logo h1 {
	color:white;
	font-size:130%;
	margin:0px;
}

.admin-nav {
	background:#000000;
	padding:5px 10px 0px 10px;
}

.admin-tab {
	background:#222222;
	color:#DDDDDD;
	display:inline-block;
}

.admin-tab.selected {
	background:#FAFAFA;
	color:#111111;
}

.admin-tab a {
	color:#DDDDDD;
	padding:7px 15px 7px 15px;
	display:inline-block;
}

.admin-tab.selected a {
	color:#111111;
}

.admin-tab .icomoon {
	font-size:80%;
	display:inline-block;
	margin-right:5px;
}

.admin-tab .icomoon.lock {
	font-size:80%;
	color:#666666;
	padding-left:10px;
}

.admin-tab.selected .icomoon.lock {
	color:#BBBBBB;
}

.admin-panel-select {
	float:right;
	padding-right:10px;
	padding-left:0px;
	background:#222222;
}

.admin-panel-select select {
	margin:0px;
	color:#AAAAAA;
	background:transparent;
	border:0px solid black;
	height:33px;
	background-image:url(../img/admin/dropdown-arrow.png);
	background-position:right center;
	background-repeat:no-repeat;
	cursor:pointer;
}

.admin-tool {
	float:right;
	padding:5px 0px 5px 15px;
}

.admin-tool a {
	color:#666666;
}

.admin-tool a:hover {
	color:#CCCCCC;
}



.admin-page-top {
	padding:3px 10px 7px 10px;
	background:#FAFAFA;
}

.admin-controls {
	width:100%;
	display:table;
	padding-top:7px;
	padding-bottom:3px;
}

.admin-controls-search, .admin-controls-button {
	display:table-cell;
	vertical-align: middle;
}

.admin-controls-button {
	padding-left:7px;
}

.admin-controls-button.marginless {
	padding-left:0px;
}

.admin-controls-button a, .admin-controls-button input {
	background:black !important;
}

.admin-controls-button.green a, .admin-controls-button.green input {
	background:#2A5E1B !important;
}

.admin-controls-button input {
	background:none;
	color:white;
	border:0px solid black !important;
	padding:6px 10px 6px 10px !important;
	display:inline-block;
}

.admin-controls-button a {
	color:white;
	padding:5px 10px 5px 10px !important;
}

.admin-controls-button a .icomoon {
	font-size:80%;
	display:inline-block;
	margin-right:5px;
}


.admin-search input {
	display:block;
	border:1px solid #D3D3D3;
	box-shadow:none;
	padding:5px 5px 5px 5px;
	margin:0px;
	line-height:1em;
	height:auto;
	width:100%;
}

/* ---------------------------------------------------------
 * ADMIN RESULTS LIST:
 * This defines the appearance of the admin result list
 * construct.
 * ---------------------------------------------------------
 */

.admin-results {

}

.admin-results-title {
	background:#C4C4C4;
	border-top:1px solid #969696;
	border-bottom:1px solid #969696;
	padding-top:10px;
	padding-bottom:10px;
}

.admin-results-title h2 {
	font-size:100%;
	margin:0px;
}

.admin-results-list {

}

.admin-results-list table {
	background:none;
	border:0px solid black;
	margin-bottom:0px;
	width:100%;
	border-collapse:separate;
}

.admin-results-list tr {
	background:none !important;
}

.admin-results-list th {
	color:#666666;
	background:#F4F4F4;
	font-weight:normal;
	padding:0px;
	line-hiehgt:1em;
	padding-right:25px;
	padding-left:15px;
	padding-top:8px;
	padding-bottom:8px;
	border-top:1px solid #D3D3D3;
	border-bottom:1px solid #D3D3D3;
}

.admin-results-list td {
	padding:0px;
	line-height:1em;
	padding-right:25px;
	padding-top:10px;
	padding-bottom:10px;
	padding-left:15px;
	vertical-align:middle;
	border-bottom:1px solid #EEEEEE;
}

.admin-results-list tr.last td {
	border-bottom:0px solid black;
}

.admin-results-list td input {
	margin:0px;
}

.admin-results-list td .status {
	text-transform:uppercase;
}

.admin-results-list td .status.bad {
	color:#843434;
}

.admin-results-list td .status.good {
	color:#388733;
}

.admin-results-list td a {
	display:inline-block;
	padding-right:7px;
}

.admin-results-list td a.email {
	color:black;
}

.admin-results-list td a .icomoon {
	font-size:80%;
}

.admin-results-list td .bad {
	color:#660000;
}

.admin-results-list td .good {
	color:#006600;
}



.admin-top-border {
	border-bottom:1px solid #D3D3D3;
}

.admin-page-tabs {
	padding:4px 0px 2px 0px;
}

.admin-page-tab {
	display:inline-block;
	font-size:90%;
}

.admin-page-tab a {
	color:black;
	padding:3px 15px 5px 15px;
	display:inline-block;
}

.admin-page-tab a .icomoon {
	font-size:70%;
	display:inline-block;
	padding-right:2px;
	vertical-align:middle;
	padding-top:2px;
}

.admin-page-tab a span {
	vertical-align:middle;
}

.admin-page-tab.selected a {
	/*background: #306027;*/
	background:#EEEEEE;
	color:#60221B;
	border-radius:5px;
}

.admin-page-tabs-right {
	float:right;
}



.admin-sections {
	padding:15px 15px 15px 15px;
}

.admin-section {
	border:1px solid #DDDDDD;
	border-bottom-width:2px;
	background:#FCFCFC;
	padding:10px 15px 10px 15px;
	margin:0px 0px 10px 0px;

	background: #ffffff;
	background: -moz-linear-gradient(top,  #ffffff 0%, #f7f7f7 33%);
	background: -webkit-linear-gradient(top,  #ffffff 0%,#f7f7f7 33%);
	background: linear-gradient(to bottom,  #ffffff 0%,#f7f7f7 33%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f7f7f7',GradientType=0 );

	background:#FAFAFA;

}

.admin-section h1 {
	font-size:120%;
	color:#60221B;
	margin:0px;
	margin-bottom:10px;
}

.admin-section .admin-row-add {
	text-transform:uppercase;
	font-size:90%;
	text-align:right;
	margin-top:-22px;
}

.admin-section .admin-row strong {
	display:inline-block;
	width:75px;
}

.admin-row .indent {
	width:75px;
	display:inline-block;
}

.admin-section .admin-add-row .icomoon {
	font-size:70%;
}

.admin-seat {
	width:40px;
	display:inline-block;
}

.admin-seat.icomoon {
	font-size:70%;
	display:inline-block;
	padding-left:10px;

}

.admin-buttonpanel {
	margin-top:-15px;
	text-align:right;
	padding-right:15px;
}

.admin-buttonpanel .button {
	background:#2A5E1B;
	padding:7px 15px 10px 15px;
}

.admin-buttonpanel .button .icomoon {
	font-size:70%;
	display:inline-block;
	margin-right:5px;
	vertical-align: middle;
}

.admin-buttonpanel .button:hover {
	background: #2d7622;
}

.admin-buttonpanel .button:active {
	background: #11310b;
}

.admin-buttonpanel span {
	display:inline-block;
	vertical-align: middle;
}

.staff-table th {
	border-top:0px solid black;
}



.admin-page-actionbutton {
	float:right;
	margin-top:5px;
}

.admin-page-actionbutton .button {
	background:#2A5E1B;
	padding:0px;
	margin:0px;
}

.admin-page-actionbutton .button a {
	display:inline-block;
	padding:2px 15px 6px 15px;
	color:white;
}

.admin-page-actionbutton .button .icomoon {
	display:inline-block;
	padding-right:10px;
	font-size:70%;
}

.admin-page-actionbutton .button span {
	display:inline-block;
	vertical-align: middle;
}


/* ---------------------------------------------------------
 * SMALL DESKTOP DESIGN:
 * This defines the appearence of the admin interface in
 * general for desktop machines with small monitors.
 * ---------------------------------------------------------
 */

@media screen and (max-width: 1050px) and (min-width: 800px) {

	.admin-header .admin-title {
		display:none;
	}
}

@media screen and (max-width: 799px) {

	/* These rules modify the admin header */
	.admin .header {
		background-color:#7F4C30;
		background-image:none;
	}

	.admin-header .admin-title {
		display:none;
	}

	.admin-header-inner {
		display:block;
	}

	.admin-header .admin-menu {
		display:block;
		width:auto;
	}

	.admin-helplink {
		float:none;
		display:block;
	}

	/* These rules modify the search feature */
	.admin-search-item.admin-search-label {
		display:none !important;
	}

	.admin-search-select {
		width:100px;
	}

	/* These rules modify the search results */
	.admin-results-list table {
		display:block;
	}

	.admin-results-list tr {
		display:block;
		border-bottom:1px solid #AAAAAA;
	}

	.admin-results-list tr.table-heading {
		display:none;
	}

	.admin-results-list tbody {
		display:block;
	}

	.admin-results-list th {
		display:none;
	}

	.admin-results-list td {
		display:block;
		width:auto;
	}

	.admin-results-list td label {
		font-weight:bold;
	}

}

.admin-footer {
	background:black;
	color:#CCCCCC;
	padding:7px 15px 7px 15px;
}

.admin-footer strong {
	font-weight:normal;
	color:white;
	text-transform: uppercase;
}

.admin-footer em {
	font-style:normal;
}