
/*
 * These CSS elements create the basis of the site's
 * responsiveness.
 */
.responsive-inner {
	max-width:1200px;
	width:95%;
	margin:auto;
}

/*
 * These CSS elements implement the style for the navigation
 * menu on basic web pages that do not override the default
 * navigation behavior.
 */

.navigation-logo {
	height:30px;
	background-image:url(../img/logo.png);
	width:302px;
	height:54px; /* Image is 48 pixels high */
	background-repeat:no-repeat;
	background-position: center center;
}

.navigation {
	background-color:black;
	color:white;
}

.navigation-main {
	float:right;
}

.navigation-login {
	float:right;
}

